<div class="container">
  <div class="row">
    <div class="col">
      <h1>Rogue Intelligent Recomendation Systems</h1>
      <p>Review your favorite movies</p>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
  </div>
</div>
<div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/original/gTnaTysN8HsvVQqTRUh8m35mmUA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-text">Movie Title</h2>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Rating</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/original/gTnaTysN8HsvVQqTRUh8m35mmUA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-text">Movie Title</h2>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Rating</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/original/gTnaTysN8HsvVQqTRUh8m35mmUA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-text">Movie Title</h2>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Rating</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/original/gTnaTysN8HsvVQqTRUh8m35mmUA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-text">Movie Title</h2>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Rating</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/original/gTnaTysN8HsvVQqTRUh8m35mmUA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-text">Movie Title</h2>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Rating</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/original/gTnaTysN8HsvVQqTRUh8m35mmUA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-text">Movie Title</h2>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Rating</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/original/gTnaTysN8HsvVQqTRUh8m35mmUA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-text">Movie Title</h2>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Rating</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/original/gTnaTysN8HsvVQqTRUh8m35mmUA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-text">Movie Title</h2>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Rating</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/original/gTnaTysN8HsvVQqTRUh8m35mmUA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-text">Movie Title</h2>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Rating</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/original/gTnaTysN8HsvVQqTRUh8m35mmUA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-text">Movie Title</h2>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Rating</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
  </div>
